@supports (-webkit-touch-callout: none) {
    #areaclear select {
    -webkit-appearance: none;
    }
}    
@media screen and (max-width: 1150px) {
	#row2, #row3 {
		flex-wrap:wrap;
		display:none;
	}
	#charts_pen20 {
		margin-top:59px !important;
	}
	#row1 div, #row1 a {
		width:auto;
	}
	#row1 {
		justify-content:space-between;
	}
}
@media screen and (max-width: 768px) {
	#page_title {
		display:none !important;
	}
	#page_title_mobile {
		padding:5px;
		margin:5px;
		text-align:left;
		color:#ffffff;
		display:block;
		width:33%;
		font-weight:400;
	}
	#legend {
		width:200px;
	}
	#legend td, #page_title_mobile {
		display:block;
	}
	#lander h1 {
		font-size: 28px;
	}
	.youtube_video {
    width: 406px;
    height: 228px;
    margin: 20px auto;
    display: block;
    }
    #news {
    flex-wrap: wrap;
    }
    #news div{
    width: 100%;
    }
    table.digiroms thead {
        display: none;
    }
    table.digiroms td {
        display: block;
    }
    table.digiroms input {
        width:100%;
    }
    table.digiroms {
        text-align:center !important;
    }
    table.items td {
        display: block;
		border-bottom:0;
		text-align: center;
		width: auto !important;
    }
    table.items img {
        display: block;
		margin: auto;
    }
	.items td:last-child {
		border-bottom:1px #212121 solid;
		padding-bottom: 10px;
		text-align: left;
	}
	.items td:first-child {
		padding-top: 10px;
	}
	.zeninAd {
		position:relative;
		overflow:hidden;
		max-width: 728px;
		width: calc(100% - 40px);
		border:0;
		margin: -10px auto 20px;
		display: block;
		padding-top: 12.36%;
		height: auto !important;
	}
	.zeninAd iframe {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		max-height: 90px;
		border:0;
		margin: 0 auto;
		display: block;
	}
	.deviceRow {
		max-width: 320px;
	}
	.deviceBody {
		flex-direction: column;
	}
	.deviceLinks {
		margin: -5px 0 0 5px;
		max-width:none;
	}
}
@media screen and (max-width: 425px) {
	body {
		height:calc(100% - 50px);
	}
	.details {
		width:calc(100% - 80px) !important;
	}
	.detailsExt {
		width:calc(100% - 40px) !important;
	}
	.evolution {
		flex-wrap:wrap;
	}
	.evolution div {
		width:100% !important;
		max-height:none !important;
	}
	.prevo {
		margin-right:0 !important;
	}
	.close {
		background:rgba(0,0,0,.2);
		top:0;
		right: 0;
		padding: 8px;
	}
	.list_scrolling {
	   /*height: calc(100% - 200px);*/
	   overflow-x: scroll;
	}
	.youtube_video {
    width: 280px;
    height: 158px;
    margin: 20px auto;
    display: block;
    }
    .details {
    top: 49%;
    max-height: calc(100% - 120px);
    }
    .detailsExt {
    top: 49%;
    max-height: calc(100% - 80px);
    }
	#routes {
		flex-wrap: wrap;
	}
	.route {
		flex:auto
	}
	.art {
		height: auto !important;
	}
	.baseinfo {
		font-size: 16px;
	}
	#hamburgermenu {
		top:46px;
		width: 100%;
		max-height: 100%;
	}
	#settingsMenu {
		top:46px;
		width: 100%;
		max-height: 100%;
	}
	#chart_topper {
		margin: 64px auto 20px;
	}
	.chartMob {
		display: flex;
		opacity: 1;
		flex-direction: column;
		min-width: auto;
	}
	.digitamaMob {
		min-width: auto;
		width: auto;
	}
	.chart .columnMob {
		display: flex;
		justify-content: space-evenly;
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 10px 0;
		background: rgba(255, 255, 255, 0.25);
		padding: 5px 0;
	}
	.chart .rowMob {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 0 !important;
	}
	.chart .digimonMob {
		margin: 5px;
		padding: 0;
		color: #ffffff;
		position: relative;
		background: none !important;
	}
}
@media screen and (max-width: 425px) {
	#page_title_mobile, #versionmenu {
		font-size:13px;
	}
}
@media screen and (max-width: 375px) {
	.latest_video {
    width: 237px;
    height: 133px;
    display: block;
    }
}