@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	font-family: Lato, Arial, Helvetica, sans-serif;
	background: #757575;
}

img {
	display: block;
	border: 0;
}

#menu {
	position: fixed;
	z-index: 10;
	background: #616161;
	top: 0;
	width: 100%;
	font-weight: 700;
	padding: 5px 0;
}

#menu #row2,
#menu #row3,
#menu #rowHidden {
	align-items: center;
	display: flex;
}

#menu a {
	text-decoration: none;
}

#menutoggle {
	display: none !important;
}

#row1 {
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#versionmenu {
	padding: 5px 20px;
	margin: 5px;
	text-align: center;
	color: #ffffff;
	display: block;
	background: #757575;
	cursor: pointer;
	width: 33%;
	font-weight: 400;
}

#page_title {
	padding: 5px;
	margin: 5px;
	text-align: left;
	color: #ffffff;
	display: block;
	width: 33%;
	font-weight: 400;
}

#page_title_mobile {
	display: none;
}

#hamburger {
	padding: 0;
	margin: 0 5px;
	color: #ffffff;
	display: block;
	cursor: pointer;
	font-size: 28px;
	z-index: 1001;
}

#settingsGear {
	padding: 0;
	margin: 0 15px 0 5px;
	text-align: right;
	color: #ffffff;
	display: block;
	cursor: pointer;
	font-size: 28px;
	z-index: 1001;
	fill: #ffffff;
}

#menuIcons {
	display: flex;
	width: 33%;
	justify-content: flex-end;
}

#versionmenu:hover {
	background: #BDBDBD;
}

#row2,
#rowHidden {
	justify-content: center;
	display: flex;
}

#row2 a,
#rowHidden a {
	padding: 5px;
	margin: 5px;
	width: 200px;
	text-align: center;
	border-width: 3px;
	border-style: solid;
}

#row2 a::before,
#rowHidden a::before {
	background: rgba(255, 255, 255, 0.5);
	content: "";
	width: 200px;
	height: 19px;
	margin: -5px;
	padding: 5px;
	display: block;
	position: absolute;
	opacity: 0;
}

#row2 a:hover::before,
#rowHidden a:hover::before {
	opacity: 1;
}

#row3 {
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
}

#row3 a {
	padding: 5px 10px;
	margin: 5px;
	min-width: 50px;
	text-align: center;
	color: #ffffff;
	box-sizing: border-box;
	position: relative;
}

#row3 a::before {
	background: rgba(255, 255, 255, 0.5);
	content: "";
	width: 100%;
	height: 100%;
	margin: -5px -10px;
	padding: 5px 10px;
	display: block;
	position: absolute;
	opacity: 0;
	box-sizing: border-box;
}

#row3 a:hover::before {
	opacity: 1;
}

#mask {
	background: #757575;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 5000;
	display: none;
}

#mask div {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: inline;
	text-align: center;
}

#mask img {
	margin: auto;
}

#shade {
	background: #000000;
	opacity: 0.5;
	z-index: 500;
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
}

#hiddenshade {
	z-index: 500;
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
}

.close {
	font-size: 36px;
	color: #ffffff;
	padding: 5px;
	position: fixed;
	line-height: 36px;
	top: 10px;
	right: 10px;
	display: none;
	z-index: 1001;
	font-weight: 700;
	cursor: pointer;
}

#charts {
	min-height: 2000px;
}

.dvcCharts .digitama {
	position:  relative;
	max-width: max-content;
}

.anchor {
	margin-top: -143px;
	padding-top: 133px;
}

.family {
	margin: 10px;
	padding: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	background: linear-gradient(#BDBDBD, #9E9E9E), #9E9E9E;
	border-width: 5px;
	border-style: solid;
	display: flex;
	flex-direction: column;
	page-break-inside: avoid;
}

.family h5 {
	font-size: 16px;
	color: #212121;
	background: rgba(255, 255, 255, .5);
	width: fit-content;
	padding: 10px 20px;
	font-weight: 700;
}

.digitama {
	position: absolute;
	display: flex;
	align-items: flex-start;
	background: rgba(255, 255, 255, .5);
	padding: 10px;
	min-width: max-content;
	z-index: 1;
}

.digitamaRelative {
	position: relative !important;
	width: max-content;
}

.digitamaAnimation, .digitamaAnimation div {
	padding:0 !important;
}

.digitamaAnimation img {
	background:#ffffff;
}

.digitama img {
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	width: 72px;
	height: auto;
}

.digitama div {
	padding: 0 20px 0;
}

h4 {
	font-size: 36px;
	color: #212121;
	font-weight: 700;
	margin: 0;
}

.digitama p {
	color: #212121;
	max-width: 450px;
}

.digitama_vbdm {
	display: flex;
	background: rgba(255, 255, 255, .5);
	position: absolute;
	flex-direction: column;
}

.digitama_vbdm>div {
	display: flex;
	align-items: center;
	padding: 10px 10px 0;
	min-width: max-content;
	z-index: 1;
}

.digitama_vbdm img {
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	width: 36px;
	height: 36px;
}

.digitama_vbdm div div {
	padding: 0 10px 0;
}

.digitama_vbdm p {
	color: #212121;
	max-width: 600px;
	padding: 0 10px 10px;
}

.digitamaUnified {
	display: flex;
	background: rgba(255, 255, 255, .5);
	flex-direction: column;
	width: max-content;
	margin-bottom: 5px;
}

.digitamaUnified>div {
	display: flex;
	align-items: center;
	padding: 10px 10px 0;
	z-index: 1;
}

.digitamaUnified img {
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	width: 36px;
	height: 36px;
}

.digitamaUnified div div {
	padding: 0 10px 0;
}

.digitamaUnified p {
	color: #212121;
	max-width: 600px;
	padding: 0 10px 10px;
}

.emblem {
	width: 46px !important;
	height: 46px !important;
	filter: brightness(0);
}

.emblem_details {
	width: 46px !important;
	height: 46px !important;
	filter: brightness(1);
}

h4+p {
	font-weight: 700;
}

#xkera .family {
	flex-direction: column;
}

#xkera .digitama {
	position: relative;
	width: max-content;
	margin-bottom: 10px;
}

.chart {
	display: flex;
	min-width: max-content;
	opacity: 0;
}

#nsp,
#nsp h4,
#terrier,
#terrier h4,
#ver3,
#ver3 h4,
.chartGreen,
.chartGreen h4 {
	border-color: #388E3C;
	color: #388E3C;
}

#dsa,
#dsa h4,
#ver2,
#ver2 h4,
#xc,
#xc h4,
#anchor_xc,
#anchor_xc h4,
.chartBlue,
.chartBlue h4 {
	border-color: #1976D2;
	color: #1976D2;
}

#nso,
#nso h4,
#nso20,
#nso20 h4,
#doru,
#doru h4,
#ver5,
#ver5 h4,
#xp,
#xp h4,
#xkera,
#xkera h4,
.sho,
.sho h4,
#anchor_xp,
#anchor_xp h4,
.chartViolet,
.chartViolet h4 {
	border-color: #673AB7;
	color: #673AB7;
}

#wgu,
#wgu h4,
#luna,
#luna h4,
.bfa,
.bfa h4,
.chartCyan,
.chartCyan h4 {
	border-color: #00ACC1;
	color: #00ACC1;
}

#mem,
#mem h4,
#hack,
#hack h4,
.bro,
.bro h4,
.chartGray,
.chartGray h4 {
	border-color: #546E7A;
	color: #546E7A;
}

#vbu,
#vbu h4,
#vbu20,
#vbu20 h4,
#ver1,
#ver1 h4,
#zubadm20,
#zubadm20 h4,
#xy,
#xy h4,
.rena_d,
.rena_d h4,
#anchor_xy,
#anchor_xy h4,
.chartYellow{
	border-color: #FBC02D;
	color: #FBC02D;
}
.chartYellow h4 {
	border-color: #FFA000;
	color: #FFA000;
}

#zuba,
#zuba h4,
#ryuda,
#ryuda h4,
#ver4,
#ver4 h4,
#xr,
#xr h4,
.vbe,
.vbe h4,
.guil_d,
.guil_d h4,
#anchor_xr,
#anchor_xr h4,
.chartRed,
.chartRed h4 {
	border-color: #D32F2F;
	color: #D32F2F;
}

.chartRust,
.chartRust h4 {
	border-color: #bd403c;
	color: #bd403c;
}

.chartPink,
.chartPink h4 {
	border-color: #C2185B;
	color: #C2185B;
}

#draco,
#draco h4,
.monodra_d,
.monodra_d h4,
.chartIndigo,
.chartIndigo h4 {
	border-color: #303F9F;
	color: #303F9F;
}

#v,
#v h4,
#slayerdra,
#slayerdra h4,
#gabu_a,
#gabu_a h4,
.awa,
.awa h4,
.gabu_d,
.gabu_d h4,
.iti,
.iti h4,
.chartSky,
.chartSky h4 {
	border-color: #0288D1;
	color: #0288D1;
}

.chartTeal,
.chartTeal h4 {
	border-color: #00796B;
	color: #00796B;
}

#lop,
#lop h4,
.imp_d,
.imp_d h4,
.chartPurple,
.chartPurple h4 {
	border-color: #7B1FA2;
	color: #7B1FA2;
}

#ludo,
#ludo h4,
#lala,
#lala h4,
#breakdra,
#breakdra h4,
.hju,
.hju h4,
.chartForest,
.chartForest h4 {
	border-color: #689F38;
	color: #689F38;
}

#vorvo,
#vorvo h4,
#agu_a,
#agu_a h4,
.chartOrange,
.chartOrange h4 {
	border-color: #F57C00;
	color: #F57C00;
}

#meicoo,
#meicoo h4,
#corona,
#corona h4,
.agu_d,
.agu_d h4,
.chartAmber,
.chartAmber h4 {
	border-color: #FFA000;
	color: #FFA000;
}

.ici,
.ici h4,
.ici .family,
.chartLime,
.chartLime h4 {
	border-color: #D4E157;
	color: #AFB42B;
}

.tdu,
.tdu h4,
.chartBrown,
.chartBrown h4 {
	border-color: #5D4037;
	color: #5D4037;
}

.jumperSilver {
	background: #BDBDBD;
	color: #212121 !important;
	border-color: #FAFAFA;
}

.jumperTeal {
	background: #00796B;
}

.jumperRust {
	background: #bd403c;
}

.verCombo {
	/*background: rgba(255,255,255,.5);*/
	border: solid 1px #ffffff;
}

#silverblack {
	background: #BDBDBD;
	border-color: #424242;
	color: #424242;
}

#silverblue {
	background: #BDBDBD;
	border-color: #1565C0;
	color: #1565C0;
}

#dukemoncolor {
	background: #BDBDBD;
	border-color: #C62828;
	color: #C62828;
}

#beelzebumoncolor {
	background: #BDBDBD;
	border-color: #4527A0;
	color: #4527A0;
}

#originalbrown {
	background: #BDBDBD;
	border-color: #BF360C;
	color: #BF360C;
}

#originalgray {
	background: #BDBDBD;
	border-color: #607D8B;
	color: #607D8B;
}

#alphamoncolor {
	background: #BDBDBD;
	border-color: #212121;
	color: #212121;
}

#zubamoncolor {
	background: #BDBDBD;
	border-color: #FFEA00;
	color: #FFEA00;
}

#omegamoncolor {
	background: #BDBDBD;
	border-color: #FAFAFA;
	color: #FAFAFA;
}

#entransyp {
	background: #BDBDBD;
	border-color: #4527A0;
	color: #4527A0;
}

#entransbg {
	background: #BDBDBD;
	border-color: #2E7D32;
	color: #2E7D32;
}

.enyellow {
	color: #FFEB3B;
}

.ennavy {
	color: #0D47A1;
}

#xblack {
	background: #BDBDBD;
	border-color: #424242;
	color: #424242;
}

#xwhite {
	background: #BDBDBD;
	border-color: #ffffff;
	color: #ffffff;
}

#xred {
	background: #BDBDBD;
	border-color: #C62828;
	color: #C62828;
}

#xpurple {
	background: #BDBDBD;
	border-color: #4527A0;
	color: #4527A0;
}

#xyellow {
	background: #BDBDBD;
	border-color: #FFEB3B;
	color: #FFEB3B;
}

#xblue {
	background: #BDBDBD;
	border-color: #1565C0;
	color: #1565C0;
}

#showall {
	background: #2E7D32;
	border-color: #2E7D32;
	color: #ffffff;
}

.enall {
	background: #BDBDBD;
	border-color: #424242;
	color: #424242;
}

.digimon,
.digimon_active {
	margin: 0;
	padding: 0;
	color: #ffffff;
	position: relative;
	background: none !important;
}

#detailsContainer {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 1000;
	pointer-events: none;
}

.detailsNew {
	width: 480px;
	padding: 20px;
	max-height: calc(100% - 110px);
	overflow-y: auto;
	color: #ffffff;
	display: none;
	pointer-events: auto;
}

.details {
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	width: 480px;
	padding: 20px;
	max-height: calc(100% - 110px);
	overflow-y: auto;
	color: #ffffff;
}

.detailsExt {
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	display: none;
	transform: translate(-50%, -50%);
	width: 480px;
	max-height: calc(100% - 110px);
	overflow-y: auto;
	color: #ffffff;
}

.detailExt {
	width: 560px;
	max-height: calc(100% - 110px);
	overflow-y: auto;
	color: #ffffff;
	display: none;
	pointer-events: auto;
	margin: 20px;
}

.detailsInt {
	padding: 20px;
}

.vbdm_card img {
	background: #ffffff !important;
}

.vbdm_card .dots {
	width: 72px;
}

.unified_card img {
	background: #ffffff !important;
}

.unified_card .dots {
	width: 36px;
}

.profileCard .dots {
	width: 72px;
}

.details_printable {
	z-index: 1000;
	display: none;
	width: 400px;
	padding: 20px;
	max-height: calc(100% - 110px);
	overflow-y: auto;
	color: #ffffff;
}

.images {
	position: relative;
}

.prevo {
	margin-right: 5px !important;
	width: calc(50% - 2px);
}

.evo {
	width: calc(50% - 3px);
}

.art {
	width: 100%;
	height: 320px;
	position: relative;
	max-width: 320px;
	margin: auto;
	display: block;
}

.digimon>.dot,
.digitama>.dot,
.digimon_active>.dot {
	width: 72px;
	height: 72px;
}

.dot {
	image-rendering: pixelated;
}

#mh20 .profile {
	width: 62px;
	height: 62px;
}

#mh20 .dot, #mh20 .art, #mh20_anchor .digitama img {
	width: 52px;
	height: 52px;
}

#mh20 .spriteBG {
	background-size: 72px;
}

.vbdmDot {
	image-rendering: auto;
}

h2 {
	margin: 0;
	font-weight: 400;
	font-size: 18px;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 5px;
}

h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
}

p {
	margin: 0;
}

.deets {
	text-align: left;
}

.deetsList {
	text-align: left;
	margin: 0 0 0 -20px;
}

.deetsList li {
	margin-top: 4px;
}

.diginame {
	font-size: 30px;
	text-align: center;
	font-weight: 700;
	text-shadow: 2px 2px rgba(0, 0, 0, .90);
	background: rgba(255, 255, 255, .2);
	padding: 5px 5px 10px;
	margin: 5px 0;
}

.diginame:hover>.dub {
	display: block;
}

.diginame:hover>.sub {
	display: none;
}

.sub {
	display: block;
}

.dub {
	display: none;
}

.baseinfo {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	align-items: center;
}

.baseinfo .text_center {
	padding: 5px;
}

.textinfo {
	display: flex;
	justify-content: space-evenly;
	font-size: 20px;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.textinfo div {
	padding: 0 5px;
	text-align: center;
}

.evolution {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

.evolution>div {
	background: rgba(0, 0, 0, .2);
	padding: 5px;
	margin: 5px 0 0;
}

.evolutions {
	display: flex;
	align-items: center;
	text-align: left;
	margin-top: 10px;
	cursor: pointer;
}

.evolutions .dot {
	display: block;
	width: 36px;
	height: auto;
	margin-right: 5px;
}

.evolutions div {
	padding: 0 0 10px 5px;
}

.evolutions p {
	font-size: 15px;
}

.evolution hr {
	height: 0;
	border-top: 1px solid #ffffff;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	width: 50%;
	margin: 10px auto 0;
}

.bj {
	display: flex;
	justify-content: space-between;
	margin: 5px 0;
	flex-wrap: wrap;
}

.shakes {
	text-align: center;
}

.arts {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	background: #ffffff;
}

.dots {
	width: 36px;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.row {
	display: flex;
	align-items: center;
}

.branches {
	z-index: 1;
	position: relative;
	left: -25px;
	margin-right: -15px;
}

.branches .row {
	position: absolute;
	align-items: flex-start;
	height: 100%;
}

.branches .row .column {
	position: absolute;
	align-items: flex-start;
	height: 100%;
}

.branches .row>div {
	margin-left: 5px;
	position: relative;
}

.combiner {
	position: absolute;
	right: 0;
	box-shadow: none !important;
}

.pushleft {
	box-shadow: none !important;
}

.branches .row .column>div {
	position: relative;
}

.under {
	position: absolute !important;
}

.under10 {
	left: 10px;
	position: absolute !important;
}

.under20 {
	left: 20px;
	position: absolute !important;
}

.under30 {
	left: 30px;
	position: absolute !important;
}

.under40 {
	left: 40px;
	position: absolute !important;
}

.under50 {
	left: 50px;
	position: absolute !important;
}

.under60 {
	left: 60px;
	position: absolute !important;
}

.under70 {
	left: 70px;
	position: absolute !important;
}

div[class^="line"] {
	z-index: 1;
	box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
	opacity: 0;
}

.noreq {
	height: 56px;
}

.line_hor5 {
	width: 5px;
	height: 5px;
}

.line_hor10 {
	width: 10px;
	height: 5px;
}

.line_hor15 {
	width: 15px;
	height: 5px;
}

.line_hor20 {
	width: 20px;
	height: 5px;
}

.line_hor24 {
	width: 24px;
	height: 5px;
}

.line_hor29 {
	width: 29px;
	height: 5px;
}

.line_hor30 {
	width: 30px;
	height: 5px;
}

.line_hor34 {
	width: 34px;
	height: 5px;
}

.line_hor35 {
	width: 35px;
	height: 5px;
}

.line_hor37 {
	width: 37px;
	height: 5px;
}

.line_hor40 {
	width: 40px;
	height: 5px;
}

.line_hor45 {
	width: 45px;
	height: 5px;
}

.line_hor46 {
	width: 46px;
	height: 5px;
}

.line_hor47 {
	width: 47px;
	height: 5px;
}

.line_hor50 {
	width: 50px;
	height: 5px;
}

.line_hor54 {
	width: 54px;
	height: 5px;
}

.line_hor55 {
	width: 55px;
	height: 5px;
}

.line_hor56 {
	width: 56px;
	height: 5px;
}

.line_hor60 {
	width: 60px;
	height: 5px;
}

.line_hor64 {
	width: 64px;
	height: 5px;
}

.line_hor66 {
	width: 66px;
	height: 5px;
}

.line_hor70 {
	width: 70px;
	height: 5px;
}

.line_hor74 {
	width: 74px;
	height: 5px;
}

.line_hor75 {
	width: 75px;
	height: 5px;
}

.line_hor76 {
	width: 76px;
	height: 5px;
}

.line_hor80 {
	width: 80px;
	height: 5px;
}

.line_hor82 {
	width: 82px;
	height: 5px;
}

.line_hor84 {
	width: 84px;
	height: 5px;
}

.line_hor90 {
	width: 90px;
	height: 5px;
}

.line_hor94 {
	width: 94px;
	height: 5px;
}

.line_hor100 {
	width: 100px;
	height: 5px;
}

.line_hor104 {
	width: 104px;
	height: 5px;
}

.line_hor105 {
	width: 105px;
	height: 5px;
}

.line_hor110 {
	width: 110px;
	height: 5px;
}

.line_hor114 {
	width: 114px;
	height: 5px;
}

.line_hor120 {
	width: 120px;
	height: 5px;
}

.line_hor124 {
	width: 124px;
	height: 5px;
}

.line_hor130 {
	width: 130px;
	height: 5px;
}

.line_hor134 {
	width: 134px;
	height: 5px;
}

.line_hor144 {
	width: 144px;
	height: 5px;
}

.line_hor146 {
	width: 146px;
	height: 5px;
}

.line_hor154 {
	width: 154px;
	height: 5px;
}

.line_hor164 {
	width: 164px;
	height: 5px;
}

.line_hor318 {
	width: 318px;
	height: 5px;
}

.line_hor328 {
	width: 328px;
	height: 5px;
}

.line_hor338 {
	width: 338px;
	height: 5px;
}

.line_hor348 {
	width: 348px;
	height: 5px;
}

.line_hor358 {
	width: 358px;
	height: 5px;
}

.line_hor368 {
	width: 368px;
	height: 5px;
}

.line_hor378 {
	width: 378px;
	height: 5px;
}

.line_horVbdmSkip {
	width: 292px;
	height: 5px;
	margin: 15px 0;
}

.line_horDvcSkip {
	width: 182px;
	height: 5px;
	margin: 15px 0;
}

.line_horDmSkip {
	width: 228px;
	height: 5px;
	margin: 15px 0;
}

.line_horPenSkip {
	width: 228px;
	height: 5px;
	margin: 15px 0;
}

.skipper {
	margin: 15px 0;
}

.line_hor_short {
	width: 25px;
	height: 5px;
}

.line_hor_long {
	width: 69px;
	height: 5px;
}

.line_hor_longshort {
	width: 59px;
	height: 5px;
}

.line_ver {
	width: 5px;
	height: 63px;
}

.line_ver5 {
	width: 5px;
	height: 5px;
}

.line_ver30 {
	width: 5px;
	height: 30px;
}

.line_ver31 {
	width: 5px;
	height: 31px;
}

.line_ver91 {
	width: 5px;
	height: 91px;
}

.line_ver109 {
	width: 5px;
	height: 109px;
}

.line_ver115 {
	width: 5px;
	height: 115px;
}

.line_ver176 {
	width: 5px;
	height: 176px;
}

.line_ver189 {
	width: 5px;
	height: 189px;
}

.line_ver196 {
	width: 5px;
	height: 196px;
}

.line_ver214 {
	width: 5px;
	height: 214px;
}

.line_ver247 {
	width: 5px;
	height: 247px;
}

.line_ver257 {
	width: 5px;
	height: 257px;
}

.line_ver278 {
	width: 5px;
	height: 278px;
}

.line_ver280 {
	width: 5px;
	height: 280px;
}

.line_ver283 {
	width: 5px;
	height: 283px;
}

.line_ver285 {
	width: 5px;
	height: 285px;
}

.line_ver258 {
	width: 5px;
	height: 258px;
}

.line_ver303 {
	width: 5px;
	height: 303px;
}

.line_ver326 {
	width: 5px;
	height: 326px;
}

.line_ver341 {
	width: 5px;
	height: 341px;
}

.line_ver359 {
	width: 5px;
	height: 359px;
}

.line_ver446 {
	width: 5px;
	height: 446px;
}

.line_ver543 {
	width: 5px;
	height: 285px;
}

.line_ver586 {
	width: 5px;
	height: 586px;
}

.seperator17 {
	margin: 17px 0;
}

.seperator18 {
	margin: 18px 0;
}

.spacer5 {
	width: 5px;
	height: 5px;
}

.spacer130w {
	width: 130px;
	height: 5px;
}

.spacer120w {
	width: 120px;
	height: 5px;
}

.spacer110w {
	width: 110px;
	height: 5px;
}

.spacer100w {
	width: 100px;
	height: 5px;
}

.spacer90w {
	width: 90px;
	height: 5px;
}

.spacer80w {
	width: 80px;
	height: 5px;
}

.spacer70w {
	width: 70px;
	height: 5px;
}

.spacer60w {
	width: 60px;
	height: 5px;
}

.spacer50w {
	width: 50px;
	height: 5px;
}

.spacer40w {
	width: 40px;
	height: 5px;
}

.spacer30w {
	width: 30px;
	height: 5px;
}

.spacer21 {
	width: 5px;
	height: 21px;
}

.spacer54 {
	width: 5px;
	height: 54px;
}

.spacer66 {
	width: 5px;
	height: 66px;
}

.spacer130 {
	width: 5px;
	height: 130px;
}

/*
.top46 {
	top:-46px;
}
.top19 {
	top:-19px;
}
.top49 {
	top:-49px;
}
.top66 {
	top:-66px;
}
.top67 {
	top:-67px;
}
.top75 {
	top:-75px;
}
.top84 {
	top:-84px;
}
.top135 {
	top:-135px;
}
.top167 {
	top:-167px;
}
.bottom180 {
	bottom: -180px;
}
.bottom190 {
	bottom: -190px;
}
.bottom92 {
	bottom: -92px;
}
*/
.left10 {
	margin-right: 10px;
}

.left15 {
	margin-right: 15px;
}

.left20 {
	margin-right: 20px;
}

.left30 {
	margin-right: 30px;
}

.left40 {
	margin-right: 40px;
}

.left50 {
	margin-right: 50px;
}

.left60 {
	margin-right: 60px;
}

.left90 {
	margin-right: 90px;
}

.right10 {
	margin-right: -10px;
}

.right20 {
	margin-right: -20px;
}

.right30 {
	margin-right: -30px;
}

.right40 {
	margin-right: -40px;
}

.right50 {
	margin-right: -50px;
}

.right60 {
	margin-right: -60px;
}

.right70 {
	margin-right: -70px;
}

.right80 {
	margin-right: -80px;
}

.Vaccine {
	background: #D32F2F;
	border-color: #D32F2F;
}

.Data {
	background: #388E3C;
	border-color: #388E3C;
}

.Virus {
	background: #7B1FA2;
	border-color: #7B1FA2;
}

.Free {
	background: #1976D2;
	border-color: #1976D2;
}

.Unknown {
	background: #78909C;
	border-color: #78909C;
}

#xk,
#xk h4,
#anchor_xk,
#anchor_xk h4 {
	border-color: #212121;
	color: #212121;
}

#xw,
#xw h4,
.med>div,
.med h4,
#anchor_xw,
#anchor_xw h4,
.chartWhite h4 {
	border-color: #ffffff;
	color: #9E9E9E;
}

.chartWhite {
	border-color: #ffffff;
	color: #ffffff;
}

#nsp_link,
#terrier_link,
.jumperGreen {
	background: #388E3C;
}

#dsa_link,
#xf_link,
.jumperBlue {
	background: #1976D2;
}

#nso_link,
#nso20_link,
#doru_link,
#sho_link,
#xd_link,
.jumperViolet {
	background: #673AB7;
}

#wgu_link,
#luna_link,
#bfa_link,
.jumperCyan {
	background: #00ACC1;
}

#mem_link,
#hack_link,
#bro_link,
.jumperGrey,
.jumperGray {
	background: #546E7A;
}

#vbu_link,
#vbu20_link,
#zubadm20_link,
#rena_d_link,
#xe_link,
.jumperYellow {
	background: #FBC02D;
}

#zuba_link,
#ryuda_link,
#vbe_link,
#guil_d_link,
#xc_link,
.jumperRed {
	background: #D32F2F;
}

#draco_link,
#monodra_d_link,
.jumperIndigo {
	background: #303F9F;
}

#v_link,
#slayerdra_link,
#gabu_a_link,
#awa_link,
#gabu_d_link,
#iti_link,
.jumperSky {
	background: #0288D1;
}

#lop_link,
#imp_d_link,
.jumperPurple {
	background: #7B1FA2;
}

#ludo_link,
#lala_link,
#breakdra_link,
#hju_link,
.jumperForest {
	background: #689F38;
}

.jumperPink {
	background: #C2185B;
}

#vorvo_link,
#agu_a_link,
.jumperOrange {
	background: #F57C00;
}

#meicoo_link,
#corona_link,
#agu_d_link,
.jumperAmber {
	background: #FFA000;
}

#xa_link,
.jumperBlack {
	background: #212121;
}

#xb_link,
.jumperWhite {
	color: #212121 !important;
	background: #ffffff;
}

#ici_link,
.jumperLime {
	background: #AFB42B;
}

#tdu_link,
.jumperBrown {
	background: #5D4037;
}

.lineRed,
.lineRed img,
.lineRedRow div,
.va1,
.va1r div,
.va1r img,
.vaccine1 img,
.vaccine1 .details,
.x1,
.xfirst img,
.x1r div,
.x1r img {
	background: #EF5350;
	border-color: #EF5350;
}

.lineGreen,
.lineGreen img,
.lineGreenRow div,
.da1,
.da1r div,
.da1r img,
.data1 img,
.data1 .details,
.x4,
.xfourth img,
.x4r div,
.x4r img {
	background: #66BB6A;
	border-color: #66BB6A;
}

.linePurple,
.linePurple img,
.linePurpleRow div,
.vi1,
.vi1r div,
.vi1r img,
.virus1 img,
.virus1 .details,
.x8,
.xeighth img,
.x8r div,
.x8r img {
	background: #AB47BC;
	border-color: #AB47BC;
}

.lineBlue,
.lineBlue img,
.lineBlueRow div,
.fr1,
.fr1r div,
.fr1r img,
.free1 img,
.free1 .details,
.x5,
.xfifth img,
.x5r div,
.x5r img {
	background: #42A5F5;
	border-color: #42A5F5;
}

.lineYellow,
.lineYellow img,
.lineYellowRow div,
.va2,
.va2r div,
.va2r img,
.vaccine2 img,
.vaccine2 .details,
.x3,
.xthird img,
.x3r div,
.x3r img {
	background: #FBC02D;
	border-color: #FBC02D;
}

.lineTeal,
.lineTeal img,
.lineTealRow div,
.da2,
.da2r div,
.da2r img,
.data2 img,
.data2 .details,
.x7,
.xseventh img,
.x7r div,
.x7r img {
	background: #26A69A;
	border-color: #26A69A;
}

.lineIndigo,
.lineIndigo img,
.lineIndigoRow div,
.vi2,
.vi2r div,
.vi2r img,
.virus2 img,
.virus2 .details {
	background: #5C6BC0;
	border-color: #5C6BC0;
}

.lineSky,
.lineSky img,
.lineSkyRow div,
.fr3,
.fr3r div,
.fr3r img,
.free3 img,
.free3 .details {
	background: #0288D1;
	border-color: #0288D1;
}

.lineOrange,
.lineOrange img,
.lineOrangeRow div,
.va3,
.va3r div,
.va3r img,
.vaccine3 img,
.vaccine3 .details,
.x2,
.xsecond img,
.x2r div,
.x2r img {
	background: #F57C00;
	border-color: #F57C00
}

.lineForest,
.lineForest img,
.lineForestRow div,
.da3,
.da3r div,
.da3r img,
.data3 img,
.data3 .details {
	background: #558B2F;
	border-color: #558B2F;
}

.lineViolet,
.lineViolet img,
.lineVioletRow div,
.vi3,
.vi3r div,
.vi3r img,
.virus3 img,
.virus3 .details,
.x6,
.xsixth img,
.x6r div,
.x6r img {
	background: #673AB7;
	border-color: #673AB7;
}

.lineCyan,
.lineCyan img,
.lineCyanRow div,
.x9,
.xninth img,
.x9r div,
.x9r img,
.fr2,
.fr2r div,
.fr2r img,
.free2 img,
.free2 .details {
	background: #26C6DA;
	border-color: #26C6DA;
}

.linePink,
.linePink img,
.linePinkRow div,
.x10,
.xtenth img,
.x10r div,
.x10r img,
.va4,
.va4r div,
.va4r img,
.vaccine4 img,
.vaccine4 .details {
	background: #EC407A;
	border-color: #EC407A;
}

.lineRust,
.lineRust img,
.lineRustRow div {
	background: #bd403c;
	border-color: #bd403c;
}

.lineBrown,
.lineBrown img,
.lineBrownRow div,
.x11,
.xeleventh img,
.x11r div,
.x11r img,
.vi4,
.vi4r div,
.vi4r img,
.virus4 img,
.vaccine4 .details {
	background: #8D6E63;
	border-color: #8D6E63;
}

.lineLime,
.lineLime img,
.lineLimeRow div,
.x12,
.xtwelfth img,
.x12r div,
.x12r img {
	background: #D4E157;
	border-color: #D4E157;
}

.lineAmber,
.lineAmber img,
.lineAmberRow div {
	background: #FFA000;
	border-color: #FFA000;
}

.lineSlate,
.lineSlate img,
.lineSlateRow div,
.x13,
.xthirteenth img,
.x13r div,
.x13r img,
.fr4,
.fr4r div,
.fr4r img,
.free4 img,
.free4 .details {
	background: #78909C;
	border-color: #78909C;
}

.lineNavy,
.lineNavy img,
.lineNavyRow div,
.fr5,
.fr5r div,
.fr5r img,
.free5 img,
.free5 .details {
	background: #1565C0;
	border-color: #1565C0;
}

.lineGray,
.lineGray img,
.lineGrayRow div,
.xb,
.xbaby img,
.xbr div,
.xbr img {
	background: #546E7A;
	border-color: #546E7A;
}

.lineBlack,
.lineBlack img,
.lineBlackRow div {
	background: #212121;
	border-color: #212121;
}

.lineWhite,
.lineWhite img,
.lineWhiteRow div {
	background: #f5f5f5;
	border-color: #f5f5f5;
}

.reqs,
.digimon>.dot,
.digitama>.dot,
.digimon_active>.dot {
	border-width: 5px;
	border-style: solid;
	font-size: 0;
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.50);
	margin: 5px 0;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	height: 36px;
}

.reqs {
	display: flex;
}

.reqs img {
	display: block;
}

.reqs_dmx {
	border-width: 5px;
	border-style: solid;
	font-size: 0;
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.50);
	margin: 5px 0;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	max-height: 72px;
	max-width: 136px;
	display: flex;
	flex-wrap: wrap;
}

.reqs_dmx img {
	display: block;
}

.reqs_zjog {
	width: 104px;
}

.reqs_tall {
	height: 54px;
}

.reqs_vbdm {
	border-width: 5px;
	border-style: solid;
	box-shadow: 10px 10px 5px -5px rgb(0 0 0 / 50%);
	margin: 5px 0;
	display: flex;
	flex-wrap: wrap;
	width: 200px;
}

.reqs_vbdm div {
	display: flex;
	background: #ffffff;
	padding: 5px;
	width: 90px;
	align-items: center;
}

.reqs_vbdm img {
	width: 32px;
	height: 32px;
	background: #ffffff !important;
}

.reqs_vbdm p {
	margin: 0 5px;
	color: #212121;
	font-size: 16px;
	font-weight: 700;
}

.reqs_dvc {
	border-width: 5px;
	border-style: solid;
	box-shadow: 10px 10px 5px -5px rgb(0 0 0 / 50%);
	margin: 5px 0;
	display: flex;
	flex-wrap: wrap;
}

.reqs_dvc div {
	display: flex;
	background: #ffffff;
	padding: 5px;
	width: 80px;
	align-items: center;
}

.reqs_dvc img {
	width: 32px;
	height: 32px;
	background: #ffffff !important;
}

.reqs_dvc p {
	margin: 0 5px;
	color: #212121;
	font-size: 16px;
	font-weight: 700;
}

.vbWide {
	width: 190px !important;
}

.vbdm_jogress {
	width: 110px;
}

.vbdm_jogress div {
	width: 100px;
	text-align: right;
}

.vbdm_jogress img {
	width: 36px;
}
.dvc_jogress {
	width: min-content;
	background: #ffffff;
}

.dvc_jogress div {
	width: max-content;
	text-align: left;
}

.dvc_jogress img {
	width: 36px;
}
.d3c_jogress {
	width: 120px;
	height: 100px;
	background: #ffffff;
}

.d3c_jogress div {
	width: max-content;
	text-align: left;
}

.d3c_jogress img {
	width: 36px;
}
.d3c_digimental {
	width: min-content;
	background: #ffffff;
}

.d3c_digimental div {
	text-align: left;
}

.d3c_digimental img {
	width: 40px;
	height: auto;
	margin: auto;
}

.start {
	align-self: flex-start;
}

.end {
	align-self: flex-end;
}

.endall,
.endall .column {
	align-items: flex-end;
}

#faq,
#about {
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	max-width: 800px;
	padding: 20px;
	max-height: calc(100% - 110px);
	overflow-y: auto;
	background: #E0E0E0;
	color: #212121;
	width: calc(100% - 80px);
}

#faq ul>li {
	margin-bottom: 10px;
	font-weight: 700;
}

#faq ul ul>li {
	margin-bottom: 0;
	font-weight: 400;
}

#faq ul blockquote {
	margin: 0 0 20px 20px;
	font-weight: 400;
}

#arttoggle {
	position: fixed;
	bottom: 0;
	right: 0;
	display: block;
	text-align: center;
	font-weight: 400;
	color: #ffffff;
	z-index: 1000;
	background: #1E88E5;
	padding: 5px 20px;
	cursor: pointer;
	width: max-content;
}

#faq_circle {
	position: fixed;
	bottom: 5px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	color: #ffffff;
	z-index: 1000;
	background: #1E88E5;
	cursor: pointer;
	height: 48px;
	font-size: 32px;
	border-radius: 100px;
	padding: 2px 11px 5px 15px;
	letter-spacing: 0.1em;
}

#discord_circle {
	position: fixed;
	bottom: 65px;
	right: 5px;
	z-index: 1000;
	cursor: pointer;
	width: 55px;
	height: auto;
	letter-spacing: 0.1em;
}

#legendcontainer {
	position: fixed;
	bottom: 0;
	left: 0;
	display: block;
	text-align: center;
	color: #ffffff;
	z-index: 1000;
}

#legendtoggle {
	display: block;
	background: #1E88E5;
	text-align: center;
	font-weight: 400;
	color: #ffffff;
	padding: 5px 20px;
	cursor: pointer;
	width: max-content;
}

#legend {
	display: none;
	width: 500px;
	padding: 0 10px;
	overflow-y: auto;
	background: #757575;
	color: #212121;
	max-height: 400px;
}

#legend h3 {
	font-size: 16px;
	font-weight: 700;
	text-align: left;
}

#legend p {
	font-size: 14px;
	text-align: left;
}

#legend img {
	display: inline-block;
}

#legend table {
	border-spacing: 0 10px;
	border-collapse: separate;
}

#legend td {
	padding: 5px;
	background: #e0e0e0;
	text-align: center;
	vertical-align: top;
}

#hamburgermenu {
	display: none;
	position: fixed;
	top: 49px;
	right: 0;
	background: #9E9E9E;
	z-index: 750;
	overflow: auto;
	max-height: 85%;
	font-size: 14px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#hamburgermenu::-webkit-scrollbar {
	display: none;
}

#settingsMenu {
	display: none;
	position: fixed;
	top: 49px;
	right: 0;
	background: #9E9E9E;
	z-index: 750;
	overflow: auto;
	max-height: 85%;
	font-size: 14px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	color: #ffffff;
}

#settingsMenu>div {
	align-items: center;
	justify-content: space-between;
	width: fit-content;
	margin: 0 auto;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	margin: 5px;
	width: calc(100% - 10px);
}

#settingsMenu>div>div {
	margin: 5px;
}

.settingChoices {
	display: flex;
}

.settingChoice {
	padding: 5px 10px;
	background: #BDBDBD;
	display: block;
	text-align: center;
	color: #757575;
	margin: 5px 0;
	cursor: pointer;
	font-weight: 700;
}

.chosenSetting {
	background: #2196F3 !important;
	color: #ffffff !important;
}

.menu_toggle {
	margin: 10px 10px;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
	display: block;
	color: #ffffff;
	text-decoration: none;
	box-sizing: border-box;
	border: solid 3px rgba(255, 255, 255, 0.0);
	position: relative;
}

.menu_toggle:hover {
	border: solid 3px rgba(255, 255, 255, 0.25);
}

.menu_toggle>p {
	margin: 0 20px;
}

.menu_button {
	margin: 10px;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
	display: block;
	color: #212121;
	text-decoration: none;
	box-sizing: border-box;
	border: solid 3px rgba(255, 255, 255, 0.0);
	background: #bdbdbd;
}

.menu_button:hover {
	border: solid 3px rgba(0, 0, 0, 0.25);
}

.menu_button>p {
	margin: 0 20px;
}

.menu_series {
	margin: 10px;
	background: #bdbdbd;
	text-align: center;
	cursor: pointer;
	display: block;
	color: #212121;
	text-decoration: none;
	box-sizing: border-box;
	border: solid 3px rgba(255, 255, 255, 0.0);
	position: relative;
	z-index: 0;
}

.menu_series:hover {
	border: solid 3px rgba(0, 0, 0, 0.25);
}

.menu_series>a {
	padding: 10px 20px;
	display: block;
}

.menu_content {
	display: none;
}

.menu_series_content {
	display: none;
}

.menu_content a,
.menu_content div {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 40px;
	margin: 10px 10px 0;
	text-align: center;
	background: rgba(255, 255, 255, 0.25);
	cursor: pointer;
}

#hamburgermobile a:hover,
#hamburgermobile div:hover {
	background: #9E9E9E;
}

.menu_content a:hover,
.menu_content div:hover {
	background: rgba(255, 255, 255, 0.1);
}

.mobile_toggle,
#about_link_mobile {
	margin: 5px 20px;
	background: #e0e0e0;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	font-weight: 400;
	width: 100%;
	display: block;
	color: #212121;
	text-decoration: none;
}

.mobile_toggle:hover,
#about_link_mobile:hover {
	background: #bdbdbd;
}

.mobile_toggle p {
	margin: 0;
}

.mobile_content {
	display: none;
}

.mobile_content a,
.mobile_content div {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 20px;
	margin: 5px 5px 0;
	text-align: center;
	background: #757575;
	cursor: pointer;
	font-weight: 400;
}

.mobile_content a:hover,
.mobile_content div:hover,
#hamburgermobile a:hover,
#hamburgermobile div:hover {
	background: #9E9E9E;
}

#hamburgermobile {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	overflow: auto;
	max-height: 85%;
	font-size: 14px;
	background: #616161;
	position: fixed;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#hamburgermobile::-webkit-scrollbar {
	display: none;
}

#lander {
	margin: auto;
	max-width: 1000px;
	background: #e0e0e0;
	padding: 20px 10px 20px;
}

#request_received {
	margin: auto;
	max-width: 1000px;
	background: #e0e0e0;
	padding: 70px 10px 20px;
}

#lander h1 {
	margin: 0 auto 18px;
	text-align: center;
	font-size: 48px;
	color: #212121;
}

#request_received h1 {
	margin: 0 auto 18px;
	text-align: center;
	font-size: 48px;
	color: #212121;
}

#digitama_banner {
	font-size: 0;
	text-align: center;
}

#digitama_banner img {
	display: inline-block;
}

#lander p {
	margin: 0 10px 20px;
}

#site_banner {
	margin: 46px auto 0;
	width: 100%;
	max-width: 1020px;
	display: block;
}

#site_banner img {
	width: 100%;
}

#news {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background: #BDBDBD;
	margin: 0 10px 20px;
}

#news div {
	margin: 20px;
}

#news h5 {
	margin: 0 0 5px;
	font-size: 20px;
	font-weight: 700;
}

#news p {
	margin: 0 0 5px;
}

#news p:not(:last-child) {
	padding: 0 0 10px;
	border-bottom: 1px solid #212121;
}

#news a {
	color: #212121;
	text-decoration: underline;
}

#news span {
	font-size: 13px;
}

#advert {
	width: 95%;
	margin: 10px auto 0;
	max-width: 700px;
}

#series {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#series>div {
	margin: 10px;
	padding: 20px;
	width: 310px;
}

#series a {
	display: block;
	text-decoration: underline;
	margin: 5px 0;
	color: #ffffff;
}

#series a span {
	display: block;
	font-size: 18px;
}

#series a:hover {
	background: rgba(255, 255, 255, 0.1);
}

.series_first {
	font-size: 22px;
	text-decoration: none !important;
}

.series_first:hover {
	background: rgba(255, 255, 255, 0.0) !important;
}

#series_dm20,
#digirom_dm20 {
	background: #E53935;
}

#series_pen20,
#digirom_pen20 {
	background: #1E88E5;
}

#series_dmx,
#digirom_dmx {
	background: #7B1FA2;
}

#series_penz,
#digirom_penz {
	background: #43A047;
}

#series_pen,
#digirom_pen {
	background: #37474F;
}

#digirom_dmc {
	background: #00ACC1;
}

#digirom_penc {
	background: #303F9F;
}

#series_vbdm {
	background: #CDDC39;
}

#series_dm {
	background: #F57C00;
}

#series_dmc {
	background: #00ACC1;
}

#series_vbdm a {
	color: #212121 !important;
}

.device_shell {
	background: #ffffff;
}

.device_shell img {
	margin: 0 auto 10px;
}

.deviceList {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
}

.deviceRow {
	max-width: 380px;
	width: 100%;
	margin: 10px;
}

.deviceHeader {
	padding: 10px 10px 0;
	color: #ffffff;
	text-align: center;
}

.deviceHeader a {
	color: #ffffff;
	font-size: 24px;
	text-decoration: none;
}

.deviceHeader span {
	display: block;
	font-size: 14px;
}

.deviceLinks {
	display: flex;
	margin: 0;
	padding: 0 5px 0 0;
	flex-grow: 1;
	max-width: 185px;
}

.deviceBody {
	display: flex;
	padding: 5px;
	flex-wrap: wrap;
}

.deviceShell {
	background: rgba(255, 255, 255, 0.25);
	padding: 6px 10px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
	flex-grow: 0;
}

.deviceShell img {
	width: 150px;
	height: auto;
}

.deviceLinks ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	color: #ffffff;
	width: 100%;
	text-align: center;
}

.deviceLinks ul span {
	margin: 0 0 5px;
	display: block;
}

.deviceLinks div {
	display: flex;
}

.deviceLinks div a:not(:last-child) {
	margin: 0 5px 0 0;
}

.deviceLinks div a {
	flex-grow: 1;
}

.deviceLinks a {
	font-size: 16px;
	color: #ffffff;
	display: block;
	background: rgba(255, 255, 255, 0.25);
	text-decoration: none;
	padding: 5px;
}

.deviceLinks a:hover {
	background: rgba(255, 255, 255, 0.35);
}

.deviceLinks li {
	margin: 5px 0;
}

h6 {
	font-size: 24px;
	color: #212121;
	text-decoration: underline;
	font-weight: 700;
	text-align: center;
	margin: 20px auto 0;
}

.battles_table h6 {
	color: #ffffff;
}

#comingsoon {
	color: #ffffff;
	font-size: 16px;
	max-width: 600px;
	margin: 50px auto 0;
	padding: 20px;
}

#table_footer {
	color: #ffffff;
	font-size: 14px;
	max-width: max-content;
	margin: -50px auto 0;
	padding: 0 20px 20px;
	line-height: 20px;
}

#comingsoon h1 {
	text-align: center;
	font-size: 24px;
	margin: 0 0 10px;
}

#chart_topperz h1 {
	text-align: center;
	font-size: 24px;
	margin: 0 0 10px;
}

#manual {
	color: #212121;
	background: #BDBDBD;
	font-size: 16px;
	max-width: 800px;
	margin: 70px auto 20px;
	padding: 5px 20px 20px;
}

#manual_padding {
	padding: 0 20px;
	margin: auto;
}

#manual h2 {
	font-weight: 700;
	margin: 20px 0 10px;
	font-size: 24px;
	border-color: #212121;
}

#manual h3 {
	font-weight: 400;
	margin: 15px 0 0;
	cursor: pointer;
	background: #2196F3;
	color: #ffffff;
	padding: 10px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
}

#manual h3 span {
	position: absolute;
	right: 10px;
	z-index: 2;
}

#manual h4 {
	font-weight: 700;
	margin: 15px 0;
	font-size: 24px;
	text-align: center;
}

#manual h5 {
	font-weight: 700;
	margin: 0;
	font-size: 18px;
}

#manual p {
	line-height: 150%;
	font-weight: 400;
	margin: 0 0 16px;
}

#manual li {
	line-height: 150%;
	font-weight: 400;
	margin-bottom: 5px;
}

#manual li ul li {
	margin-bottom: 0;
}

#manual ul {
	margin-bottom: 0 auto 16px;
}

#manual section {
	padding: 20px 20px 4px;
	background: #E0E0E0;
	margin: 0 10px;
}

.nonTopic {
	text-align: center;
}

#toggleButtons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#manual a {
	color: #212121;
	text-decoration: underline;
}

#toggleButtons a {
	display: block;
	padding: 10px;
	background: #2196F3;
	color: #ffffff;
	margin: 5px 10px 5px 0;
	cursor: pointer;
	border-radius: 10px;
	font-size: 16px;
	line-height: 12px;
	text-decoration: none;
}

.basicButton {
	display: block;
	padding: 10px;
	background: #2196F3;
	color: #ffffff;
	margin: 0 10px 10px;
	cursor: pointer;
	border-radius: 10px;
	font-size: 16px;
	line-height: 12px;
	max-width: fit-content;
	text-decoration: none;
	border: 0;
}

.basicButton:hover {
	background: #42A5F5;
}

#comingsoon a {
	text-decoration: underline;
	color: #ffffff;
}

#comingsoon a:visited {
	color: #ffffff;
}

.profile {
	width: 82px;
	cursor: pointer;
}

.profile .dot {
	width: 72px;
	height: 72px;
	border-width: 5px;
	border-style: solid;
	font-size: 0;
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.50);
	margin: 5px 0;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
}

.profile .art {
	display: none;
	width: 72px;
	height: 72px;
	border-width: 5px;
	border-style: solid;
	font-size: 0;
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.50);
	margin: 5px 0;
}

.loader {
	align-self: center;
	display: flex;
	align-items: center;
	display: none;
}

.loader h1 {
	color: #000000;
}

.padding {
	margin: 0 20px 39px;
	width: calc(100% - 40px);
	padding-bottom: 20px;
}

.list_art {
	display: none;
	width: 100%;
}
.list_dot {
	margin:auto;
}

.card_view tbody {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 900px;
}

.card_view thead tr {
	display: flex !important;
	flex-wrap: wrap;
	width: 100%;
	max-width: 450px;
	margin: 0 auto 10px;
	justify-content: center;
}

.card_view thead th {
	display: block !important;
	width: 80px;
	margin: 2px;
}

.card_view .sorter-false {
	display: none !important;
}

.card_view tr {
	display: block;
	width: 154px;
	margin: 5px;
	cursor: pointer;
}

.card_view td {
	display: block;
	background: inherit !important;
	color: #ffffff;
}

.card_view .list_dot {
	display: none;
}

.card_view .list_art {
	display: block;
}

.card_view .list_name {
	text-align: center;
	font-weight: 700;
	padding-bottom: 10px;
}

.card_view .list_number,
.card_view .list_level,
.card_view .list_attribute,
.card_view .list_egg1,
.card_view .list_egg2,
.card_view .list_strength,
.card_view .list_class,
.card_view .list_library,
.card_view .list_version {
	display: none !important;
}

.card_view .list_password {
	padding: 0px 0 10px;
	text-align: center;
	margin-top: -5px;
}

#listtoggle {
	position: fixed;
	bottom: 0;
	right: 0;
	display: none;
	text-align: center;
	font-weight: 400;
	color: #ffffff;
	z-index: 1000;
	background: #1E88E5;
	padding: 5px 20px;
	cursor: pointer;
	width: max-content;
}

.list_encounters {
	white-space: nowrap;
}

#cardtoggle {
	position: fixed;
	bottom: 0;
	right: 0;
	display: block;
	text-align: center;
	font-weight: 400;
	color: #ffffff;
	z-index: 1000;
	background: #1E88E5;
	padding: 5px 20px;
	cursor: pointer;
	width: max-content;
}

#victories {
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
	text-align: center;
	font-weight: 400;
	color: #ffffff;
	z-index: 1000;
	background: #757575;
	padding: 5px 20px;
	cursor: pointer;
}

#victories span {
	white-space: nowrap;
}

#digimon_battles_t {
	display: none;
}

#battle_toggle {
	align-items: center;
	justify-content: center;
	width: fit-content;
	margin: 0 auto 20px;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
}

#battle_toggle div {
	padding: 10px 20px;
	background: #BDBDBD;
	display: block;
	text-align: center;
	color: #757575;
	margin: 0;
}

.battles_table th {
	width: 65px;
	text-align: center;
}

.battles_table td {
	text-align: center;
}

.battles_table img {
	margin: auto;
}

.battles_table td:first-child {
	font-weight: 700;
	vertical-align: bottom;
}

.battles_table td:first-child span {
	font-weight: 400;
}

#pen_version_toggle {
	align-items: center;
	justify-content: center;
	width: fit-content;
	margin: 0 auto;
	font-size: 16px;
	cursor: pointer;
	display: flex;
}

#pen_version_toggle div {
	padding: 5px 10px;
	background: #BDBDBD;
	display: block;
	text-align: center;
	color: #757575;
	margin: 5px 0;
}

.active_roster {
	background: #2196F3 !important;
	color: #ffffff !important;
	font-weight: 700;
}

.dot5mon {
	display: none;
}

.high18 {
	height: 18px;
	width: 136px;
}

.high18w {
	height: 18px;
	width: 136px;
}

.high36 {
	height: 36px;
	width: 68px;
}

.high36w {
	height: 36px;
	width: 136px;
}

.secondary {
	display: none;
}

.filterInputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 20px;
}

.filterInputs div {
	margin: 5px;
	background: #1976D2;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filterInputs label {
	padding-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filterInputs input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.filterInputs select {
	border: 0;
	margin-left: 10px;
	padding: 12px 10px 9px;
	cursor: pointer;
	background: #1E88E5;
	color: #ffffff;
	font-size: 16px;
}

.filterInputs select:hover,
.clearButton:hover {
	background: #2196F3;
}

.clearButton {
	padding: 10px;
	cursor: pointer;
}

#filters {
	font-weight: 400;
}

#filters div {
	margin-bottom: 2px;
}

input:checked ~ span {
	color: #ffffff;
}
input:checked ~ span svg {
	fill: #ffffff !important;
}

.checkmark {
	background: #1E88E5;
	color: #1E88E5;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
	width: 40px;
	text-align: center;
	font-size: 20px;
	margin-left: 10px;
}

.svgCheckMark {
	fill:#1E88E5;
}

.container {
	cursor: pointer;
}

.container:hover>span {
	background: #2196F3;
}

#areas130 option {
	color: #212121;
	background: #BBDEFB;
}

.area1420_l_alt,
.area19_l_alt,
.area20_l_alt {
	opacity: 0;
}

.levels {
	margin: 20px 0;
	border-spacing: 0;
}

.levels th {
	background: #bdbdbd;
	text-align: left;
	border-bottom: 1px #212121 solid;
	padding: 5px 10px;
}

.levels td {
	background: #eeeeee;
	padding: 5px 10px;
	border-bottom: 1px #212121 solid;
}

.items .item_name {
	width: 100px;
}

.evolution h5 {
	margin: 10px 0;
	font-size: 14px;
	font-weight: 400;
	padding: 5px;
}

.evolution_k {
	color: #ffffff;
	background: #000000;
}

.evolution_w {
	color: #000000;
	background: #ffffff;
}

.evolution_b {
	color: #212121;
	background: #E0E0E0;
}

.evolution_r {
	color: #ffffff;
	background: #C62828;
}

.evolution_p {
	color: #ffffff;
	background: #4527A0;
}

.evolution_y {
	color: #212121;
	background: #FFD600;
}

.evolution_c {
	color: #ffffff;
	background: #1565C0;
}

#x_battles img,
.battles img {
	display: inline-block;
}

#vbdm_battles th {
	text-align: center;
}

#vbdm_battles img {
	cursor: pointer;
}

#vbdm_differences th,
#vbdm_differences td {
	text-align: center;
	padding: 8px 16px !important;
	max-width: 218px;
}

#vbdm_differences td:first-child {
	font-weight: bold;
}

#vbdm_differences span {
	white-space: nowrap;
}

#features form {
	margin: auto;
}

#features input,
#features textarea {
	margin: 10px auto;
	padding: 10px;
	font-family: Lato, Arial, Helvetica, sans-serif;
	display: block;
	max-width: 400px;
	width: 100%;
	border: 0;
	font-size: 16px;
	box-sizing: border-box;
}

#features input[type=submit] {
	background: #43A047;
	color: #ffffff;
}

#features textarea {
	height: 60px;
}

#features a {
	color: #212121;
	text-decoration: underline;
}

.trello a,
.trello {
	color: #212121;
	text-decoration: underline;
	text-align: center;
}

#chart_topper {
	max-width: 800px;
	margin: 153px auto 20px;
	color: #ffffff;
	padding: 0 20px;
}

#chart_topper_noVer {
	max-width: 800px;
	margin: 60px auto 20px;
	color: #ffffff;
	padding: 0 20px;
}

#chart_topperz {
	max-width: 800px;
	margin: 100px auto 20px;
	color: #ffffff;
	padding: 0 20px;
}

#chart_topper a,
a#chart_topper:visited {
	color: #ffffff;
	text-decoration: underline;
}

.youtube_video {
	width: 560px;
	height: 315px;
	margin: 20px auto;
	display: block;
}

.latest_video {
	width: 321px;
	height: 181px;
	display: block;
	margin: auto;
}

.versions_header {
	font-size: 24px;
	text-align: center;
	color: #ffffff;
	font-weight: 400;
	width: 100%;
	margin: 0 0 10px;
}

.exclusives {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.versionImages {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 0 10px;
}

.versionImages div {
	margin: 5px;
	background: #ffffff;
	max-width: 150px;
}

.versionImages p {
	margin: 0 10px 10px;
	font-size: 11px;
	text-align: center;
	font-weight: 700;
}

.exclusives_dot {
	display: none;
	width: 72px;
	height: 72px;
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.50);
	margin: 5px;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	cursor: pointer;
}

.exclusives_art {
	width: 72px;
	height: 72px;
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.50);
	margin: 5px;
	cursor: pointer;
}

.section {
	background: #616161;
	padding: 10px;
	margin-bottom: 20px;
}

#hatch {
	display: block;
	width: calc(100% - 20px);
	margin: 10px;
}

#hatch img {
	width: 100%;
	height: auto;
}

#hatch picture {
	width: 100%;
	height: auto;
}

.hidden {
	display: none;
}

.clickable {
	cursor: pointer;
}

#digimon_list {
	margin: auto;
}

#newUser {
	display: none;
	position: fixed;
	left: 20px;
	padding: 10px;
	border: #1E88E5 5px solid;
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.50);
	color: #212121;
	background: #e0e0e0;
	max-width: 300px;
	text-align: right;
	z-index: 1500;
	margin-right: 20px;
}

#newUser_text {
	text-align: left;
	margin: 0 0 10px;
}

#newUser img {
	float: left;
	width: 74px;
	height: 68px;
	margin: 0 5px 5px 0;
}

#dismiss {
	display: inline;
	text-decoration: underline;
	cursor: pointer;
}

#later {
	display: inline;
	margin: 0 0 0 10px;
	text-decoration: underline;
	cursor: pointer;
}

#continue {
	display: inline;
	background: green;
	padding: 5px 10px;
	color: #ffffff;
	font-weight: bold;
	margin: 0 0 0 10px;
	cursor: pointer;
}

.invis {
	opacity: 0;
}

.invalid {
	display: none !important;
}

.testQuestion {
	max-width: 400px;
	margin: 10px auto !important;
}

.digiroms input {
	border: 0;
	background: #000000;
	color: #00FF00;
	font-family: "Courier New", Courier, monospace;
	width: 150px;
	margin: 0;
	padding: 5px 5px 3px;
	font-size: 12px;
	height: 30px;
	box-sizing: border-box;
}

.digiroms a {
	display: block;
	padding: 5px;
	background: #1E88E5;
	color: #ffffff;
	font-size: 14px;
	box-sizing: border-box;
	height: 30px;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
}

.digiroms a:hover {
	background: #42A5F5;
}

.digiroms a:active {
	background: #1E88E5;
}

#digiRoms_container {
	display: flex;
	flex-wrap: wrap;
	max-width: 900px;
	margin: auto;
	justify-content: center;
}

#digiRoms_container a {
	display: block;
	width: 300px;
	margin: 10px;
	text-align: center;
	padding: 20px;
	color: #ffffff;
	font-size: 24px;
	text-decoration: none;

}

#digirom_dm20:hover {
	background: #EF5350;
}

#digirom_pen20:hover {
	background: #42A5F5;
}

#digirom_dmx:hover {
	background: #7E57C2;
}

#digirom_penz:hover {
	background: #66BB6A;
}

#digirom_pen:hover {
	background: #546E7A;
}

#digirom_dmc:hover {
	background: #4DD0E1;
}

.text_right {
	text-align: right;
}

.text_center {
	text-align: center;
}

rect {
	fill: #ffffff;
}

.noClick {
	cursor: wait;
}

.noclick * {
	pointer-events: none;
}

.zeninAd {
	position: relative;
	overflow: hidden;
	max-width: 728px;
	width: calc(100% - 40px);
	border: 0;
	margin: -10px auto 20px;
	display: block;
	height: 90px;
}

.zeninAd iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	max-height: 90px;
	border: 0;
	margin: 0 auto;
	display: block;
}

@keyframes frame-animation {
	0% {
		opacity: 1;
	}

	49.99% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes frame-animation-reverse {
	0% {
		opacity: 0;
	}

	49.99% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

.frame2 {
	margin-top: 0 !important;
	box-shadow: none !important;
	animation: frame-animation 1s infinite;
	position: absolute;
}

.frame2Container {
	animation: frame-animation 1s infinite;
	position: absolute;
}

.frame2Container img {
	margin-top: 0 !important;
	box-shadow: none !important;
}

.spriteBG img {
	background: rgba(255, 255, 255, 0.25);
}

.spriteBG {
	background-size: 96px;
	background-repeat: no-repeat;
	background-position: -10px -15px;
}

#routerContainer {
	margin: 75px 0 0;
}

#routerIntro {
	max-width: 600px;
	margin: 0 auto 20px;
	color: #ffffff;
}

#routerContainer h4 {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	margin: 10px auto 5px;
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
	max-width: 300px;
	cursor: pointer;
}

#routes {
	margin: 20px auto;
	display: flex;
	padding: 0 10px 10px;
	justify-content: center;
}

.route {
	margin: 10px;
	background: #e0e0e0;
	padding: 20px 20px 30px;
	color: #212121;
	flex: 1 1 0px;
}

.route p {
	color: #212121;
}

.route button {
	color: #ffffff !important;
	display: block;
	background: #1976D2;
	max-width: 500px;
	margin: auto;
	width: 100%;
	border: 0;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
}

.route button:hover {
	background: #1E88E5;
}

.route button:active {
	background: #2196F3;
}

.routeCard {
	max-width: 500px;
	margin: auto;
}

.chosenDevice {
	margin: 20px auto 10px;
	font-size: 20px;
	text-align: center;
}

.routeCard img {
	display: block;
	margin: auto;
	width: 72px;
	height: auto;
	image-rendering: pixelated;
}

.chosenDigitama {
	margin: 10px auto 10px;
	font-size: 16px;
	text-align: center;
}

.chosenDigitama span {
	margin: 10px auto 10px;
	font-size: 18px;
	text-align: center;
}

#routerContainer h5 {
	text-align: left;
	font-weight: 700;
	font-size: 14px;
	margin: 20px 0 5px;
	border-bottom: 1px solid #212121;
	max-width: 150px;
}

#routerContainer .filterInputs {
	font-size: 14px;
}

#routerContainer .checkmark {
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	width: 30px;
}

#routerContainer a {
	color: #212121;
}

#routerLink {
	text-align: center;
}

#routerLink p {
	margin: 0 0 5px;
	font-size: 14px;
}

#routerLink a {
	display: block;
	margin: 0 auto 5px;
	text-decoration: none;
	color: #ffffff;
	background: #1976D2;
	max-width: fit-content;
	padding: 10px 20px;
	font-weight: 700;
}

#routerLink a:hover {
	background: #1E88E5;
}

#routerLink a:active {
	background: #2196F3;
}

#footer {
	text-align: center;
	color: #ffffff;
	margin: 0 auto;
	padding: 20px 10px 160px;
	font-size: 14px;
	font-weight: 400;
	max-width: 600px;
	text-decoration: none;
}

#footer span {
	white-space: nowrap;
}

#chartSelect p {
	margin: 0 20px 20px;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
}

#chartSelect a {
	color: #ffffff;
	text-decoration: underline;
}

#chartSelect h1 {
	margin: 0 20px 20px;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
}

#pageList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -20px auto 0;
}

#pageList div {
	display: flex;
	flex-direction: column;
	margin: 10px;
	background: #bdbdbd;
	padding: 0 0 10px;
	width: 180px;
}

#pageList a {
	text-decoration: none;
	display: block;
	color: #212121;
	padding: 2px 5px;
	margin: 0 5px;
}

#pageList div a:first-child {
	font-weight: 700;
	background: #424242;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 10px;
	text-align: center;
}

#pageList div a:first-child:hover {
	background: #616161;
}

#pageList a:hover {
	background: #e0e0e0;
}

.adventureMap {
	margin:0 auto 20px !important;
}

.tablesorter-header-inner {
	text-align: center;
}

.tablesorter-sticky-wrapper {
	transform: translate(-50%, 0px);
	left: 50% !important;
}

.list_scrolling {
	overflow-x: auto;
}

.reqToggleMob {
	display: none !important;
}

.chartMob {
	display: flex;
	opacity: 1;
	min-width: auto;
}

.digitamaMob {
	position: relative;
	display: flex;
	align-items: flex-start;
	background: rgba(255, 255, 255, .5);
	padding: 10px;
	z-index: 1;
	margin: 0 0 10px;
	max-width: max-content;
}

.chart .columnMob {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	margin: 10px 0;
	padding: 5px 10px;
}

.chart .rowMob {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 !important;
}

.chart .digimonMob {
	margin: 5px;
	padding: 0;
	color: #ffffff;
	position: relative;
	background: none !important;
}

.blackOut {
	filter: brightness(0);
}

.checkSeparator {
	max-width: 1200px;
	width: calc(100% - 40px);
	margin: 0 auto 10px;
	border: 1px solid #ffffff;
}

.verContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto 10px;
}

.digiCheck {
	background: #999999;
	margin: 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 150px;
}

.digiCheck48 {
	width: 100px;
}

.digiCheckAlign {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	margin: 0 0 5px;
}

.digiCheck img {
	width: 72px;
	height: auto;
	image-rendering: pixelated;
	margin: 0 5px;
	background: #ffffff;
	cursor: pointer;
}

.digiCheck48 img {
	width: 52px;
}

.digiCheck input {
	width: 24px;
	height: 24px;
	margin: 0;
	border: 0;
	background-color: #ffffff;
	color: #212121;
}

.checkFiller {
	width: 24px;
	height: 24px;
	margin: 0;
}

.digiCheck p {
	color: #212121;
	text-align: center;
}

#backupContainer p {
	color: #ffffff;
	font-size: 16px;
	max-width: 640px;
	margin: 20px auto;
	text-align: left;
	 padding: 0 20px;
}

#backupContainer h1 {
	color: #ffffff;
	font-size: 24px;
	max-width: 600px;
	margin: 20px auto;
	text-align: center;
}

#backupContainer div {
	display: flex;
	margin:20px auto;
	justify-content: center;
}

#backupContainer button {
	color: #ffffff !important;
	display: block;
	background: #1976D2;
	margin: 0;
	width: 100px;
	border: 0;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
}

#backupContainer button:hover {
	background: #1E88E5;
}

#backupContainer button:active {
	background: #2196F3;
}

.digiCheck input:checked ~ img {
	opacity:0.25;
}

.digiCheck:has(input:checked) p {
	text-decoration: line-through;
}

@media print {
	.family {
		min-width: fit-content;
		page-break-inside: avoid;
		size: landscape;
	}

	.spriteBG img {
		background: rgba(255, 255, 255, 1) !important;
	}

	.spriteBG {
		background: none !important;
	}
}

;